# Ignore virtual environment
venv/

# Ignore Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Ignore system files
.DS_Store

# Ignore VS Code settings
.vscode/

# Ignore SQLite or local DB files (optional)
# *.sqlite3
# *.db
